<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="../static/styles/login.css" th:href="@{/styles/login.css}" rel="stylesheet" />
    <link href="../static/styles/shared.css" th:href="@{/styles/shared.css}" rel="stylesheet" />
    <div th:replace="navbar :: header"></div>
</head>
<body>
<div th:replace="navbar :: navbar">
</div>
<div class="page-container">
    <form class="login-container" method="post" th:action="authUser">
        <p th:if="${errorMessage}" class="text-danger" th:text="${errorMessage}">Invalid user or password</p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control input" placeholder="Username" required autofocus>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control input" placeholder="Password" required>


        <button class="btn btn-success btn-sm button" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>