<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="../static/styles/armor.css" th:href="@{/styles/armor.css}" rel="stylesheet" />
    <link href="../static/styles/shared.css" th:href="@{/styles/shared.css}" rel="stylesheet" />
    <div th:replace="navbar :: header"></div>
</head>
<body>
<div th:replace="navbar :: navbar">
</div>
<div class="page-container">
    <div class="list-container">
        <h1>Armor List</h1>
        <form th:object="${options}" th:action="@{'/armors/red/options/?page=1'}" method="POST">
            <div th:class="change-page-container">
                <div th:class="row">
                    <label>Filter: </label>
                    <input id="filter" type="text" class="form-control input" th:field="*{name}"/>
                </div>
                <div th:class="row">
                    <label>Order: </label>
                    <select id="order" name="order" th:field="*{selectedOrder}">
                        <option
                                th:each="option : ${options.orderList}"
                                th:value="${option}" th:text="${option}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <table class="table table-hover ">
            <thead class="thead-inverse">
            <tr>
                <th>Nr.</th>
                <th>Name</th>
                <th>Image</th>
                <th>Type</th>
                <th>ArmorValue</th>
                <div sec:authorize="hasRole('ADMIN')">
                    <th>Edit</th>
                </div>
                <div sec:authorize="hasRole('GUEST')">
                    <th>Details</th>
                </div>
            </tr>
            </thead>
            <tr th:each="armor, stat : ${armors}"
                th:class="${stat.odd}? 'table-light':'table-dark'"
            >
                <td th:text="${page * itemsPerPage + stat.index + 1}">1</td>
                <td th:text="${armor.name}">1</td>
                <td><img width="20px" height="20px" th:src="${armor.image}"></td>
                <td th:text="${armor.armor}">1</td>
                <td th:text="${armor.health}">1</td>
                <div sec:authorize="hasRole('ADMIN')">
                    <td><a href="#" th:href="@{'/armors/edit/' + ${armor.id}}">Edit</a></td>
                </div>
                <div sec:authorize="hasRole('GUEST')">
                    <td><a href="#" th:href="@{'/armors/details/' + ${armor.id}}">Details</a></td>
                </div>
            </tr>
        </table>

        <div th:class="change-page-container">
            <div>
                <a th:if="${page>0}" href="#" th:href="@{'/armors/options/?page=' + ${page} + '&filter=' + ${options.name} + '&sort=' + ${options.selectedOrder}}" th:class="link-button"><-</a>
                <button th:if="${page==0}" disabled><-</button>
            </div>
            <p th:text="${page + 1}">1</p>
            <div>
                <a th:if="${armors.size() == itemsPerPage}" href="#" th:href="@{'/armors/options/?page=' + ${page + 2} + '&filter=' + ${options.name} + '&sort=' + ${options.selectedOrder}}" th:class="link-button">-></a>
                <button th:if="${armors.size() < itemsPerPage}" disabled>-></button>
            </div>
        </div>

        <form sec:authorize="hasRole('ADMIN')" th:action="@{/armors/new}" method="POST"> <input type="submit" class="btn btn-primary" value="Create Armor"> </form>
    </div>
</div>

</div>
</body>
</html>